{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md">
    {% if loggedIn %}
        <h1 class="display-6">{{ username }}'s Cart</h1>
        <hr>
    {% endif %}
    <div class="container-md">
        {%for cart in carts %}
        {% if cart.owner == userId %}
            {% for item in cart.items %}
                <div class="card-body">
                 <h5>Item: {{ item.viet }}</h5>
                 <p>English name: {{ item.english }}</p>
                 <p>Price: ${{ item.price }}</p>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        {% endfor %}    
   
    </div>
</div>
{% endblock %}